<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit" version="1.7.0.1540" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Rx-Interactive" version="1.0.2856.0" />
  <package id="reactiveui-core" version="2.1.0.1" />
  <package id="NSubstitute" version="1.0.0.0" />
  <package id="ShouldFluent" version="1.1.12.0" />
</packages>